<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Profile</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        fetch("/me")
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("name").textContent =
              data.fullName || "N/A";
            document.getElementById("role").textContent = data.role;
            document.getElementById("email").textContent = data.email;
            document.getElementById("phone").textContent =
              data.phoneNumber || "N/A";
          })
          .catch((error) =>
            console.error("Error fetching user details:", error)
          );
      });
    </script>
    <div th:replace="~{header :: head}"></div>
  </head>
  <body>
    <div th:replace="~{header :: body}"></div>
    <div class="container">
      <header>
        <h1>Profile</h1>
      </header>
      <div class="profile">
        <img
          src="/images/fav-icon-img.jpeg"
          alt="profile-picture"
          class="profile-pic"
        />
        <h2 class="name" id="name">John Doe</h2>
        <p class="contact-info" id="role">Admin</p>
        <h3>Contact Information</h3>
        <p>Email: <a href="#" id="email">johndoe@gmail.com</a></p>
        <p>Phone: <span id="phone">(91) 2456-535</span></p>
      </div>
    </div>
    <div th:replace="~{footer :: body}"></div>
  </body>
</html>
