<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LMS Application - Dashboard</title>
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" href="/lmsfavicon.png">
<script src="/js/company.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<img src="/images/lmslogo.png" alt="LMS Logo">
		</div>
		<nav class="navbar">
			<div class="dropdown">
				<span>Leads ▼</span>
				<div class="dropdown-content">
					<a href="#">All Leads</a> <a href="#">My Leads</a> <a href="#">Assigned
						Leads</a>
				</div>
			</div>
			<a href="companies.html">Companies</a> <a href="#">Admins</a> <a
				href="#">Users</a> <a href="#">Comments</a> <a href="#">Profile</a>
			<a href="#">Help</a> <a href="/logout">Logout</a>
		</nav>
	</header>
	<section class="main-content">
		<div class="form-container">
			<h3>Add Lead</h3>
			<input type="text" id="fullName" placeholder="Full Name"> <input
				type="email" id="email" placeholder="Email Address"> <input
				type="tel" id="phone" placeholder="Phone Number"> <input
				type="tel" id="altPhone" placeholder="Alternate Phone Number">
			<input type="text" id="address" placeholder="Address"> <input
				type="text" id="Description" placeholder="Description">
			<button>Add Lead</button>
		</div>
		<div class="form-container">
			<h3>Add Company</h3>
			<input type="text" id="companyName" placeholder="Company Name">
			<input type="text" id="companyAddress" placeholder="Company Address">
			<input type="text" id="companyCinNumber" placeholder="CIN Number">
			<input type="text" id="companyContactPersonName"
				placeholder="Contact Full Name"> <input type="tel"
				id="companyContactPersonPhone" placeholder="Contact Phone Number">
			<input type="email" id="companyContactPersonEmail"
				placeholder="Contact Email Address">
			<button onclick="addCompany()">Add Company</button>
		</div>
		<div class="form-container">
			<h3>Add Admin</h3>
			<input type="text" placeholder="Admin Name">
			<button>Add</button>
		</div>
		<div class="form-container">
			<h3>Add User</h3>
			<input type="text" placeholder="User Name">
			<button>Add</button>
		</div>
	</section>
	<footer>
		<p>© 2024 LMS Application. All rights reserved.</p>
	</footer>
</body>
</html>
