<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Application - dashboard</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="/images/Logo1212.png" alt="LMS Logo">
        </div>
        <h1>Login to Your Account</h1>
    </header>

    <section class="main-content">
        <div class="left-content">
            <img src="images/hero-image.jpg" alt="Business Growth">
        </div>

   <h1>Welcome to Dashboard</h1>
<a href="/">Logout</a>     
    </section>

    <footer>
        <p>© 2024 LMS Application. All rights reserved.</p>
    </footer>

</body>
</html>

