<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Application - Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/lmsfavicon.png">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/lmslogo.png" alt="LMS Logo">
        </div>
    </header>
    

    <section class="main-content">
        <div class="left-content">
            <img src="images/hero-image.jpg" alt="Business Growth">
        </div>

        <div class="right-content">
            <h2>Login to LMS</h2>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username or Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <p style="text-align: center;">Don't have an account? <a href="/">Sign up here!</a></p>
            </form>
        </div>
    </section>

    <footer>
        <p>© 2024 LMS Application. All rights reserved.</p>
    </footer>

</body>
</html>
