<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{header :: head}"></th:block>
<title>My Leads</title>
</head>
<body>
<th:block th:replace="~{header :: body}"></th:block>

	<section class="all-content">
		<h2>My Leads</h2>
		<div class="search-container">
			<input type="text" id="searchMyLeads"
				placeholder="Search by Name or ID">
			<button onclick="searchMyLeads()">Search</button>
		</div>
		
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Company</th>
                        <th>Actions</th>
                    </tr>
                </thead>
				<tbody id="myLeadsList">
				</tbody>
			</table>
		</div>
	</section>
    <div th:replace="~{footer :: body}"></div>

</body>
</html>
