<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<th:block th:replace="~{header :: head}"></th:block>
</head>
<body>
	<div th:replace="~{header :: body}"></div>
	<section class="main-content">
		<div class="form-container">
			<h3>Add Lead</h3>
			<input type="text" id="fullName" placeholder="Full Name" required>
			<input type="email" id="email" placeholder="Email Address"
				required> <input type="tel" id="phoneNo"
				placeholder="Phone Number" required> <input type="tel"
				id="altPhone" placeholder="Alternate Phone Number"> <input
				type="text" id="address" placeholder="Address" required>
			<input type="text" id="note" placeholder="Description">
			<button onclick="addLead()">Add Lead</button>
		</div>

	</section>
	<div th:replace="~{footer :: body}"></div>
</body>
</html>
